[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = https://github.com/shivamtrivedi01/config.nvim.git
[submodule "tmux-sessionizer"]
	path = tmux-sessionizer
	url = git@github.com:ThePrimeagen/tmux-sessionizer.git
